@import '../../node_modules/@grafana/toolkit/sass/_variables.light.scss';
@import 'piechart';

.pieLabel > div {
  color: $black;
}

.piechart-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.applyregex {
  margin-left: 5px;
}
/* prettier-ignore */
.piechartpopup-main {
  background: #f7f8fa!important;
  z-index: 1;
  padding:0px!important;
  box-shadow: 0 2px 5px 0 #acb6bf;
  min-width: 200px;
  border-radius: 2px;
}

.piechartpopup-title {
  color: #52545c;
  font-size: 12px;
  line-height: 1.5;
  padding: 4px 8px;
}
/* prettier-ignore */
.piechartpopup-item:hover {
  background: #dde4ed;
  border-image: linear-gradient(rgba(255,213,0,1) 0%,rgba(255,68,0,1) 99%,rgba(255,68,0,1) 100%);
  border-image-slice: 1;
}
/* prettier-ignore */
.piechartpopup-item {
  background: none;
  padding: 4px 8px;
  color: #41444b;
  border-left: 2px solid transparent;
  cursor: pointer;
  line-height: 1.41!important;
}
/* prettier-ignore */
.datalink-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  /* -webkit-box-align: center; */
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
  line-height: 1;
  padding: 8px 16px;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  height: 32px;
  border-radius: 2px;
  background: linear-gradient(to bottom,#dde4ed,#ccd7e4);
  color: #52545c;
  text-shadow: 0 1px rgba(0,0,0,0.1);
}

.datalink-btn:hover {
  background: #dde4ed;
  color: #52545c;
}
/* prettier-ignore */
.datalink-btn-icon {
  margin-right: 8px;
  -webkit-filter: brightness(100);
  filter: brightness(100);
}
/* prettier-ignore */
.datalink-icon {
  opacity: 0.7;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  color: #acb6bf;
  position: relative;
  top: 1px!important;
}
/* prettier-ignore */
.datalinkanchor {
  color: #41444b!important;
  font-size: 13px!important;
}

.piechart-panel--legend-right {
  flex-direction: row;
}

.piechart-panel--legend-right .piechart-legend {
  flex: 0 1 10px;
  height: 100%;
}

_:-ms-fullscreen,
:root .piechart-panel--legend-right .piechart-legend {
  flex: 0 1 200px;
}

.piechart-panel--legend-right .piechart-legend-series {
  display: block;
  padding-left: 0px;
}

.piechart-panel--legend-right .piechart-legend-table .piechart-legend-series {
  display: table-row;
}

.piechart-legend__container {
  height: 100%;
}

.piechart-panel__chart {
  position: relative;
  cursor: crosshair;
  flex-grow: 1;
  top: 10px;
}

.datapoints-warning {
  pointer: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  cursor: auto;
  padding: 10px;
}

.piechart-legend {
  flex: 0 1 auto;
  margin: 0 1rem;
  text-align: center;
  padding-top: 6px;
  position: relative;
}

.piechart-legend .popover-content {
  padding: 0;
}

.piechart-legend-icon {
  position: relative;
  padding-right: 4px;
  top: 1px;
}

.piechart-legend-icon,
.piechart-legend-alias,
.piechart-legend-value {
  cursor: pointer;
  float: left;
  white-space: nowrap;
  font-size: 85%;
  text-align: left;
  color: 52545c;
}

.piechart-legend-icon.current::before {
  content: 'Current: ';
}

.piechart-legend-icon.max::before {
  content: 'Max: ';
}

.piechart-legend-icon.min::before {
  content: 'Min: ';
}

.piechart-legend-icon.total::before {
  content: 'Total: ';
}

.piechart-legend-icon.avg::before {
  content: 'Avg: ';
}

.piechart-legend-alias.current::before {
  content: 'Current: ';
}

.piechart-legend-alias.max::before {
  content: 'Max: ';
}

.piechart-legend-alias.min::before {
  content: 'Min: ';
}

.piechart-legend-alias.total::before {
  content: 'Total: ';
}

.piechart-legend-alias.avg::before {
  content: 'Avg: ';
}

.piechart-legend-value.current::before {
  content: 'Current: ';
}

.piechart-legend-value.max::before {
  content: 'Max: ';
}

.piechart-legend-value.min::before {
  content: 'Min: ';
}

.piechart-legend-value.total::before {
  content: 'Total: ';
}

.piechart-legend-value.avg::before {
  content: 'Avg: ';
}

.piechart-legend-icon .fa {
  font-size: 135%;
  position: relative;
  top: 1px;
}

.piechart-legend-series {
  float: left;
  white-space: nowrap;
  padding-left: 10px;
}

.piechart-legend-series--right-y {
  float: right;
}

.piechart-legend-value {
  padding-left: 6px;
}

.piechart-legend-table tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 1px;
  padding-right: 5px;
}

.piechart-legend-table .piechart-legend-series {
  display: table-row;
  float: none;
  padding-left: 0;
}

.piechart-legend-table .piechart-legend-series--right-y {
  float: none;
}

.piechart-legend-table .piechart-legend-series--right-y .piechart-legend-alias::after {
  content: '(right-y)';
  padding: 0 5px;
  color: #767980;
}

.piechart-legend-table td,
.piechart-legend-alias,
.piechart-legend-icon,
.piechart-legend-value {
  float: none;
  display: table-cell;
  white-space: nowrap;
  padding: 2px 10px;
  text-align: right;
}

.piechart-legend-table .piechart-legend-icon {
  width: 5px;
  padding: 0;
  top: 0;
}

.piechart-legend-table .piechart-legend-icon .fa {
  top: 4px;
}

.piechart-legend-table .piechart-legend-value {
  padding-left: 15px;
}

.piechart-legend-table .piechart-legend-alias {
  padding-left: 7px;
  text-align: left;
  width: 95%;
  max-width: 650px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.piechart-legend-table .piechart-legend-series:nth-child(odd) {
  background: #dde4ed;
}

.piechart-legend-table .piechart-legend-value.current::before {
  content: '';
}

.piechart-legend-table .piechart-legend-value.max::before {
  content: '';
}

.piechart-legend-table .piechart-legend-value.min::before {
  content: '';
}

.piechart-legend-table .piechart-legend-value.total::before {
  content: '';
}

.piechart-legend-table .piechart-legend-value.avg::before {
  content: '';
}

.piechart-legend-table th {
  text-align: right;
  padding: 0px 10px 1px 0;
  font-weight: bold;
  color: #61c2f2;
  font-size: 85%;
  white-space: nowrap;
}

.piechart-legend-series-hidden .piechart-legend-value,
.piechart-legend-series-hidden .piechart-legend-alias {
  color: #acb6bf;
}

.piechart-tooltip {
  white-space: nowrap;
  font-size: 12px;
  background-color: #dde4ed;
  color: #35373f;
}

.piechart-tooltip .piechart-tooltip-time {
  text-align: center;
  position: relative;
  top: -3px;
  padding: 0.2rem;
  font-weight: bold;
  color: #35373f;
}

.piechart-tooltip .piechart-tooltip-value {
  display: table-cell;
  font-weight: bold;
  padding-left: 15px;
  text-align: right;
}

/* prettier-ignore */
.autocomplete {
  position: relative;
  display: inline-block;
  color: #767980;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px;
}
/* prettier-ignore */
.autopopuptitle {
  color: #767980;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px;
}
/* prettier-ignore */
.autopopuplist {
  background: none;
  padding: 4px 8px;
  color: #000000;
  cursor: pointer;
  font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
}
/* prettier-ignore */
.autopopuplistsub {
  margin-top: 4px;
  color: #303133;
  font-size: 12px;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}
/* prettier-ignore */
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  //z-index: 99;
  bottom: 100%;
  left: 90px;
  right: 0;
  background: #ffffff;
  z-index: 1;
  width: 200px;
  box-shadow: 0 5px 10px 0 #dde4ed
}
/* prettier-ignore */
.autocomplete-items li {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
/* prettier-ignore */
.autopopuplist:hover {
  background-color: #dde4ed; 
}
/* prettier-ignore */
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
